<div class="col-sm-2 sidenav">
    <p><a href="#">Top Busineesses</a></p>
    <p><a href="#">Follow Businesses</a></p>
    <p><a href="#">Top Articles</a></p>
    <p><a href="/business">Register as a Business</a></p>
    <p><a href="/business">Register as a Volunteer</a></p>
    <div class="well">
        <p><b>Upcoming Events</b></p><br>
        <div class="well">
            <b>Code to Give Hackathon</b><br>
            <p>Desta Challenge</p>
        </div>
        <div class="well"><b>Skill development session</b>
            <p>eLearning session on making Cover Letter and resumes</p>
        </div>
        <div class="well"><b>Code to Give Hackathon</b></li>
            <p>Desta Challenge</p>
        </div>
    </div>

</div>