<!--begin::Header-->
<div id="kt_header" class="header header-fixed">
    <!--begin::Container-->
    <div class="container-fluid d-flex align-items-stretch justify-content-between">
        <!--begin::Header Menu Wrapper-->
        <div class="header-menu-wrapper header-menu-wrapper-left" id="kt_header_menu_wrapper">

        </div>
        <!--end::Header Menu Wrapper-->
        <!--begin::Topbar-->
        <div class="topbar">

            <div class="topbar-item">
                <div class="mr-4">
                    <!-- <a href="/gamesessions" class="btn btn-sm btn-info font-weight-bolder text-uppercase">Change Game Session</a> -->
                </div>
            </div>

            <!--begin::User-->
            <div class="topbar-item">
                <div class="btn btn-icon w-auto btn-clean d-flex align-items-center btn-lg px-2">
                    <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">Hi,</span>
                    <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-4">Emmanuel</span>
                </div>
            </div>
            <!--end::User-->
            <div class="topbar-item">
                <div>
                    <a href="/login" class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">Logout</a>
                </div>
            </div>
        </div>
        <!--end::Topbar-->
    </div>
    <!--end::Container-->
</div>
<!--end::Header-->